@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  /* Tipografía */
  --font-heading: "Outfit", sans-serif;
  --font-body: "Inter", sans-serif;

  /* Colores */
  --color-accent: #38bdf8;
  --color-accent-dark: #0ea5e9;
  --color-bg: #0f172a;
  --color-bg-card: #1e293b;
  --color-text: #f1f5f9;
  --color-muted: #94a3b8;
}

* {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
}

main {
  padding-top: 120px;
  padding-bottom: 60px;
}
